body {
  background-color: black;
  padding: 25px 0 0 0;
}
.game-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.hand-emoji-pic {
  /*  set size on pic and button auto-resizes.
      if size set on button then image will exceed boundaries
      and need to be reset anyway*/
  height: 50px;
  width: 50px;
  object-fit: fill;
}


.hand-emoji-button{
  background-color: black;
  border-color: white;
  border-radius: 55px;
  border-style: solid;
  border-width: 2px;
  height: 110px;
  width: 110px;
}

.emoji-div {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}


.under-hand-emoji-div {
  /* needs to be declared before the child
      objects in CSS file to put them under 'center'*/
  text-align: center;
}

.reset-button {
  font-size: 16px;
  padding: 6px 16px;
  background-color: white;
  border: none;
}
